body {
}

table {
    width:80%;
    margin:auto;

}

table tr {
    height: 100px;
    border-bottom: 1px solid black;
}
table tr:last-child {
    border-bottom: none;
}

table tr:nth-child(odd) td {
    background-color: white;
}
table tr:nth-child(even) td{
    background-color: lightgray;
}

td {
    padding: 20px;
}
.class-name {
    width: 80%;
}
.score-str {
    width: 10%;
}
.score-raw {
    width: 10%;
}