body {
}

table {
    width:80%;
    margin:auto;

}

tr {
    height: 100px;
    border-style: solid;
    border-width: 3px;
}

.odd-row {
    background-color: white;
}
.even-row {
    background-color: lightgray;
}

td {
    padding: 20px;
}
.class-name {
    width: 80%;
}
.score-str {
    width: 10%;
}
.score-raw {
    width: 10%;
}